@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

/* 전체 푸터 스타일 */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 90px;
    background-color: #ffffff;
    color: #8E8E8E;
    font-size: 14px;
    position: relative;
}

.footer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;           /* 시작 지점 */
    width: 90%;          /* 전체 너비의 80%만 선 */
    height: 1.5px;
    background-color: #8e8e8e;
  }

/* 왼쪽 텍스트 스타일 */
.footer-left {
    color: #8E8E8E;
    font-size: 14px;
}

/* 중앙 로고 스타일 */
.footer-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 55px;
    font-weight: bold;
    font-family: 'Jersey 25', sans-serif;
}

/* 오른쪽 링크와 아이콘 스타일 */
.footer-right {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.insta-logo {
    width: 16px;
    margin-left: 10px;
    margin-top: 5px;
}