.header {
    position:relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 80px;
    background-color: white;
  }
  
.header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 4%;           /* 시작 지점 */
    width: 92%;          /* 전체 너비의 80%만 선 */
    height: 1.5px;
    background-color: #B5B5B5;
  }

  .header-logo {
    height: 60px;
  }
  
  .header-right {
    display: flex;
    align-items: center;
    gap: 60px; /* 메뉴와 프로필 사이 간격 */
  }
  
  .header-nav {
    display: flex;
    gap: 50px;
    font-weight: 600;
    font-size: 18px;
    color: #474747;
  }
  
  .nav-item {
    text-decoration: none;
    color: inherit;
  }

  .nav-item:hover {
    color:#27496D;
  }
  
  .header-profile {
    width: 40px;
    height: 40px;
  }
  