.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* 어두운 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9998;
}

.popup-card {
  background-color: white;
  width: 50%;
  padding: 15px 30px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
  z-index: 9999;
}

.popup-close {
  position: absolute;
  top: 16px;
  right: 20px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: #8E8E8E;
}

.popup-title {
  font-size: 30px;
  font-weight: bold;
  color: #27496D;
}

.popup-map-wrapper {
  position: relative;
  width: 65%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.popup-map {
  width: 100%;
  height: 330px;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid #DDDDDD;
  position: relative;
  bottom:10px;
}

.popup-heart-icon-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.popup-heart-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.2s;
  position: relative;
  bottom: 79px;
  left: 5px;
}

.popup-heart-icon:hover {
  transform: scale(1.1);
}

.popup-description {
  color: #27496D;
  font-weight: 500;
  margin: 20px 0;
}

.popup-subtext {
  font-size: 17px;
  color: #393939;
  margin: 12px 0 4px 0;
}

.popup-link {
  font-size: 20px;
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  color: #00909E;
  text-decoration: none;
}

.popup-link:hover {
  color: #27496D;
}

.popup-link-icon-img {
  width: 17px;
  margin-left: 5px;
  margin-bottom: 3.5px;
  vertical-align: middle;
}

.popup-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
